<div th:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml">
    <section class="super-conteiner">
        <div class="conteiner">

            <div class="slide s1">
                <img class="psi" style="height: 600px; padding-bottom: 10px;" th:src="@{/style/img/content/In1.png}" alt="inad">
            </div>


            <div class="content content_box">
                <a name="in">
                    <img th:src="@{/style/img/content/Indoor.svg}" alt="inad">
                </a>
                <div class="more">
                    <a href="">
                        <img th:src="@{/style/img/buttons/Узнать подробее.svg}" alt="more">
                    </a>
                </div>
                <span>
                        <button class="feedback_btn" style="background: none; border: 0;" type="">
                            <img th:src="@{/style/img/buttons/Button SVG.svg}" alt="feedback">
                        </button>
                    </span>
            </div>


        </div>
        <div class="text-wrapper">
            <div class="text_text"></div>
            <button class="close_button_for_text">
                <img th:src="@{/style/img/buttons/circle-xmark-regular.svg}" alt="X">
            </button>
            <span>
                    <br>Lorem ipsum dolor sit amet consectetur, adipisicing elit.<br>
                    Non placeat officiis et quae beatae quasi, perspiciatis<br>
                    quidem omnis similique voluptas commodi temporibus ab, <br>
                    error dicta quaerat cumque consectetur, necessitatibus expedita.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.<br>
                    Non placeat officiis et quae beatae quasi, perspiciatis<br>
                    quidem omnis similique voluptas commodi temporibus ab, <br>
                    error dicta quaerat cumque consectetur, necessitatibus expedita.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.<br>
                    Non placeat officiis et quae beatae quasi, perspiciatis<br>
                    quidem omnis similique voluptas commodi temporibus ab, <br>
                    error dicta quaerat cumque consectetur, necessitatibus expedita.
                </span>
        </div>
    </section>

    <section class="super-conteiner">
        <div class="conteiner">

            <div class="content content_box">
                <a name="out">
                    <img th:src="@{/style/img/content/Outdoor.svg}" alt="outad">
                </a>
                <span>
                        <div class="more">
                            <a href="">
                                <img th:src="@{/style/img/buttons/Узнать подробее.svg}" alt="more">
                            </a>
                        </div>
                        <button class="feedback_btn" style="background: none; border: 0;" type="">
                            <img th:src="@{/style/img/buttons/Button SVG.svg}" alt="feedback">
                        </button>
                    </span>
            </div>

            <div class="content">
                <img style="height: 600px;" th:src="@{/style/img/content/Out2.png}" alt="outad">

            </div>
        </div>
        <div class="text-wrapper">
            <button class="close_button_for_text">
                <img th:src="@{/style/img/buttons/circle-xmark-regular.svg}" alt="X">
            </button>
            <span>
                    <br>Lorem ipsum dolor sit amet consectetur, adipisicing elit.<br>
                    Non placeat officiis et quae beatae quasi, perspiciatis<br>
                    quidem omnis similique voluptas commodi temporibus ab, <br>
                    error dicta quaerat cumque consectetur, necessitatibus expedita.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.<br>
                    Non placeat officiis et quae beatae quasi, perspiciatis<br>
                    quidem omnis similique voluptas commodi temporibus ab, <br>
                    error dicta quaerat cumque consectetur, necessitatibus expedita.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.<br>
                    Non placeat officiis et quae beatae quasi, perspiciatis<br>
                    quidem omnis similique voluptas commodi temporibus ab, <br>
                    error dicta quaerat cumque consectetur, necessitatibus expedita.
                </span>
        </div>
    </section>

    <section class="super-conteiner">
        <div class="conteiner">
            <div class="content">
                <img style="height: 330px;" th:src="@{/style/img/content/Pos4.png}" alt="posmad">
            </div>

            <div class="content content_box">
                <a name="pos">
                    <img th:src="@{/style/img/content/POS.svg}" alt="posmad">
                </a>
                <span>
                        <div class="more">
                            <a href="">
                                <img th:src="@{/style/img/buttons/Узнать подробее.svg}" alt="more">
                            </a>
                        </div>
                        <button class="feedback_btn" style="background: none; border: 0;" type="">
                            <img th:src="@{/style/img/buttons/Button SVG.svg}" alt="feedback">
                        </button>
                    </span>
            </div>
        </div>
        <div class="text-wrapper">
            <button class="close_button_for_text">
                <img th:src="@{/style/img/buttons/circle-xmark-regular.svg}" alt="X">
            </button>
            <span>
                    <br>Lorem ipsum dolor sit amet consectetur, adipisicing elit.<br>
                    Non placeat officiis et quae beatae quasi, perspiciatis<br>
                    quidem omnis similique voluptas commodi temporibus ab, <br>
                    error dicta quaerat cumque consectetur, necessitatibus expedita.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.<br>
                    Non placeat officiis et quae beatae quasi, perspiciatis<br>
                    quidem omnis similique voluptas commodi temporibus ab, <br>
                    error dicta quaerat cumque consectetur, necessitatibus expedita.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.<br>
                    Non placeat officiis et quae beatae quasi, perspiciatis<br>
                    quidem omnis similique voluptas commodi temporibus ab, <br>
                    error dicta quaerat cumque consectetur, necessitatibus expedita.
                </span>
        </div>
    </section>

    <a href="#top" class="pageup">
        <img th:src="@{/style/img/buttons/circle-chevron-up-solid.svg}" alt="up" class="pageUp">
    </a>

</div>